In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob, os
import datetime as dt
from datetime import datetime


from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import Imputer

import scipy.stats as stats
from scipy.stats import chi2_contingency

/Users/joohlee/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# 1. Import traininng data and test dataset

In [2]:
datasets = pd.read_csv('/Users/joohlee/Desktop/Cousera/Data_Science_at_Scale/Material/datasci_course_materials/kaggle/train.csv',delimiter=',')
train_data, test_data = train_test_split(datasets, test_size=0.2)

In [3]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,2,C.A. 31921,26.2500,NaN,S
387,388,1,2,"Buss, Miss. Kate",female,36,0,0,27849,13.0000,NaN,S
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64,0,0,693,26.0000,NaN,S
659,660,0,1,"Newell, Mr. Arthur Webster",male,58,0,2,35273,113.2750,D48,C
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,9.5000,NaN,S
460,461,1,1,"Anderson, Mr. Harry",male,48,0,0,19952,26.5500,E12,S
216,217,1,3,"Honkanen, Miss. Eliina",female,27,0,0,STON/O2. 3101283,7.9250,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2,4,2,347082,31.2750,NaN,S
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32,0,0,SOTON/O.Q. 392078,8.0500,E10,S
389,390,1,2,"Lehmann, Miss. Bertha",female,17,0,0,SC 1748,12.0000,NaN,C
440,441,1,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",female,45,1,1,F.C.C. 13529,26.2500,NaN,S
97,98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C
657,658,0,3,"Bourke, Mrs. John (Catherine)",female,32,1,1,364849,15.5000,NaN,Q
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
478,479,0,3,"Karlsson, Mr. Nils August",male,22,0,0,350060,7.5208,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1,2,1,230136,39.0000,F4,S
442,443,0,3,"Petterson, Mr. Johan Emil",male,25,1,0,347076,7.7750,NaN,S
603,604,0,3,"Torber, Mr. Ernst William",male,44,0,0,364511,8.0500,NaN,S
593,594,0,3,"Bourke, Miss. Mary",female,NaN,0,2,364848,7.7500,NaN,Q
499,500,0,3,"Svensson, Mr. Olof",male,24,0,0,350035,7.7958,NaN,S
117,118,0,2,"Turpin, Mr. William John Robert",male,29,1,0,11668,21.0000,NaN,S
385,386,0,2,"Davies, Mr. Charles Henry",male,18,0,0,S.O.C. 14879,73.5000,NaN,S
426,427,1,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)",female,28,1,0,2003,26.0000,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39,1,1,PC 17756,83.1583,E49,C
568,569,0,3,"Doharr, Mr. Tannous",male,NaN,0,0,2686,7.2292,NaN,C
459,460,0,3,"O'Connor, Mr. Maurice",male,NaN,0,0,371060,7.7500,NaN,Q
705,706,0,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39,0,0,250655,26.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
618,619,1,2,"Becker, Miss. Marion Louise",female,4,2,1,230136,39.0000,F4,S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24,0,2,250649,14.5000,NaN,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S
587,588,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60,1,1,13567,79.2000,B41,C
565,566,0,3,"Davies, Mr. Alfred J",male,24,2,0,A/4 48871,24.1500,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9,1,1,2678,15.2458,NaN,C
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S
594,595,0,2,"Chapman, Mr. John Henry",male,37,1,0,SC/AH 29037,26.0000,NaN,S
461,462,0,3,"Morley, Mr. William",male,34,0,0,364506,8.0500,NaN,S
772,773,0,2,"Mack, Mrs. (Mary)",female,57,0,0,S.O./P.P. 3,10.5000,E77,S
487,488,0,1,"Kent, Mr. Edward Austin",male,58,0,0,11771,29.7000,B37,C
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
795,796,0,2,"Otter, Mr. Richard",male,39,0,0,28213,13.0000,NaN,S
488,489,0,3,"Somerton, Mr. Francis William",male,30,0,0,A.5. 18509,8.0500,NaN,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17,0,2,17421,110.8833,C70,C
572,573,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36,0,0,PC 17474,26.3875,E25,S
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24,0,0,C 17369,7.1417,NaN,S
601,602,0,3,"Slabenoff, Mr. Petco",male,NaN,0,0,349214,7.8958,NaN,S
726,727,1,2,"Renouf, Mrs. Peter Henry (Lillian Jefferys)",female,30,3,0,31027,21.0000,NaN,S
369,370,1,1,"Aubart, Mme. Leontine Pauline",female,24,0,0,PC 17477,69.3000,B35,C
528,529,0,3,"Salonen, Mr. Johan Werner",male,39,0,0,3101296,7.9250,NaN,S
316,317,1,2,"Kantor, Mrs. Sinai (Miriam Sternin)",female,24,1,0,244367,26.0000,NaN,S
573,574,1,3,"Kelly, Miss. Mary",female,NaN,0,0,14312,7.7500,NaN,Q
807,808,0,3,"Pettersson, Miss. Ellen Natalia",female,18,0,0,347087,7.7750,NaN,S
569,570,1,3,"Jonsson, Mr. Carl",male,32,0,0,350417,7.8542,NaN,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40,0,0,C.A. 33595,15.7500,NaN,S
289,290,1,3,"Connolly, Miss. Kate",female,22,0,0,370373,7.7500,NaN,Q
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
269,270,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,135.6333,C99,S
704,705,0,3,"Hansen, Mr. Henrik Juul",male,26,1,0,350025,7.8542,NaN,S

# 2. Feature selection. Chi Square test to find important features(independent variables) from datasets

In [4]:
features = ['Pclass','Name','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked','Ticket']
for feature in features:
    X = train_data[feature].astype(str)
    Y = train_data['Survived'].astype(str)    
    dfObserved = pd.crosstab(Y,X) 
    chi2, p, dof, expected = stats.chi2_contingency(dfObserved.values)
    if p < 0.05:
        print feature, p

Pclass 1.58160936395e-18
Sex 6.96285196295e-47
SibSp 3.28249624506e-06
Parch 3.23793431902e-05
Fare 5.57773698206e-09
Cabin 1.20468262863e-05
Embarked 1.38792598263e-05
Ticket 0.0250629266475

# 3. Create train data and test data with features and response

In [5]:
x_train_data2 = train_data[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
x_train_data2 = x_train_data2.drop('Sex', 1).join(x_train_data2['Sex'].str.get_dummies())
x_train_data2 = x_train_data2.drop('Embarked', 1).join(x_train_data2['Embarked'].str.get_dummies())

y_train_data2 = train_data[['Survived']]
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp = imp.fit(x_train_data2)
x_train_data2_imp = imp.transform(x_train_data2)

In [7]:
x_train_data2_imp

array([[  2.,   8.,   0., ...,   0.,   0.,   1.],
       [  2.,  36.,   0., ...,   0.,   0.,   1.],
       [  1.,  64.,   0., ...,   0.,   0.,   1.],
       ...,
       [  3.,  26.,   0., ...,   0.,   0.,   1.],
       [  1.,  35.,   0., ...,   0.,   0.,   1.],
       [  3.,  26.,   1., ...,   0.,   0.,   1.]])

# 4. Random Forest modeling

In [8]:
randomF = RandomForestClassifier(n_estimators=100)
train_feature = x_train_data2_imp
train_target = y_train_data2

randomF = randomF.fit(train_feature, train_target)

/Users/joohlee/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [9]:
x_test_data2 = test_data[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
x_test_data2 = x_test_data2.drop('Sex', 1).join(x_test_data2['Sex'].str.get_dummies())
x_test_data2 = x_test_data2.drop('Embarked', 1).join(x_test_data2['Embarked'].str.get_dummies())
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp = imp.fit(x_test_data2)
x_test_data2_imp = imp.transform(x_test_data2)

In [10]:
x_test_data2

     Pclass    Age  SibSp  Parch      Fare  female  male  C  Q  S
79        3  30.00      0      0   12.4750       1     0  0  0  1
817       2  31.00      1      1   37.0042       0     1  1  0  0
875       3  15.00      0      0    7.2250       1     0  1  0  0
411       3    NaN      0      0    6.8583       0     1  0  1  0
194       1  44.00      0      0   27.7208       1     0  1  0  0
0         3  22.00      1      0    7.2500       0     1  0  0  1
225       3  22.00      0      0    9.3500       0     1  0  0  1
34        1  28.00      1      0   82.1708       0     1  1  0  0
577       1  39.00      1      0   55.9000       1     0  0  0  1
28        3    NaN      0      0    7.8792       1     0  0  1  0
570       2  62.00      0      0   10.5000       0     1  0  0  1
4         3  35.00      0      0    8.0500       0     1  0  0  1
876       3  20.00      0      0    9.8458       0     1  0  0  1
372       3  19.00      0      0    8.0500       0     1  0  0  1
197       3  42.00      0      1    8.4042       0     1  0  0  1
764       3  16.00      0      0    7.7750       0     1  0  0  1
549       2   8.00      1      1   36.7500       0     1  0  0  1
367       3    NaN      0      0    7.2292       1     0  1  0  0
749       3  31.00      0      0    7.7500       0     1  0  1  0
78        2   0.83      0      2   29.0000       0     1  0  0  1
729       3  25.00      1      0    7.9250       1     0  0  0  1
676       3  24.50      0      0    8.0500       0     1  0  0  1
150       2  51.00      0      0   12.5250       0     1  0  0  1
399       2  28.00      0      0   12.6500       1     0  0  0  1
146       3  27.00      0      0    7.7958       0     1  0  0  1
433       3  17.00      0      0    7.1250       0     1  0  0  1
198       3    NaN      0      0    7.7500       1     0  0  1  0
262       1  52.00      1      1   79.6500       0     1  0  0  1
847       3  35.00      0      0    7.8958       0     1  1  0  0
337       1  41.00      0      0  134.5000       1     0  1  0  0
..      ...    ...    ...    ...       ...     ...   ... .. .. ..
862       1  48.00      0      0   25.9292       1     0  0  0  1
221       2  27.00      0      0   13.0000       0     1  0  0  1
781       1  17.00      1      0   57.0000       1     0  0  0  1
768       3    NaN      1      0   24.1500       0     1  0  1  0
567       3  29.00      0      4   21.0750       1     0  0  0  1
554       3  22.00      0      0    7.7750       1     0  0  0  1
828       3    NaN      0      0    7.7500       0     1  0  1  0
279       3  35.00      1      1   20.2500       1     0  0  0  1
870       3  26.00      0      0    7.8958       0     1  0  0  1
423       3  28.00      1      1   14.4000       1     0  0  0  1
124       1  54.00      0      1   77.2875       0     1  0  0  1
217       2  42.00      1      0   27.0000       0     1  0  0  1
203       3  45.50      0      0    7.2250       0     1  1  0  0
829       1  62.00      0      0   80.0000       1     0  0  0  0
513       1  54.00      1      0   59.4000       1     0  1  0  0
444       3    NaN      0      0    8.1125       0     1  0  0  1
47        3    NaN      0      0    7.7500       1     0  0  1  0
658       2  23.00      0      0   13.0000       0     1  0  0  1
413       2    NaN      0      0    0.0000       0     1  0  0  1
782       1  29.00      0      0   30.0000       0     1  0  0  1
206       3  32.00      1      0   15.8500       0     1  0  0  1
449       1  52.00      0      0   30.5000       0     1  0  0  1
90        3  29.00      0      0    8.0500       0     1  0  0  1
712       1  48.00      1      0   52.0000       0     1  0  0  1
191       2  19.00      0      0   13.0000       0     1  0  0  1
242       2  29.00      0      0   10.5000       0     1  0  0  1
246       3  25.00      0      0    7.7750       1     0  0  0  1
511       3    NaN      0      0    8.0500       0     1  0  0  1
598       3    NaN      0      0    7.2250       0     1  1  0  0
288       2  42.00      0      0   13.0000       0     1  0  0  1

[179 rows x 10 columns]

In [11]:
test_features = x_test_data2_imp
problem_pred_randomf = randomF.predict(test_features)

In [12]:
accuracy_randomforest = accuracy_score(test_data['Survived'],problem_pred_randomf)

In [13]:
accuracy_randomforest

0.77094972067039103

# 5. SVM modeling

In [14]:
C= 1.0
svc = svm.SVC(kernel='linear', C=C).fit(train_feature, train_target)

/Users/joohlee/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
problem_pred_svm = svc.predict(test_features)

In [16]:
accuracy_svm = accuracy_score(test_data['Survived'],problem_pred_svm)
accuracy_svm

0.78212290502793291

# 6. Tuning the parameters for SVM and Random Forest model

In [19]:
C = [0.1,1.0,10.0,100.0]
for c in C:
    svc = svm.SVC(kernel='linear', C=c).fit(train_feature, train_target)
    problem_pred_svm = svc.predict(test_features)
    accuracy_svm = accuracy_score(test_data['Survived'],problem_pred_svm)
    print c, accuracy_svm

0.1 0.782122905028
1.0 0.782122905028
10.0 0.782122905028
100.0 0.776536312849

In [18]:
estimators = [10,50,100,500,1000]
for estimator in estimators:
    randomF = RandomForestClassifier(n_estimators=estimator)
    randomF = randomF.fit(train_feature, train_target)
    problem_pred_randomf = randomF.predict(test_features)
    accuracy_randomforest = accuracy_score(test_data['Survived'],problem_pred_randomf)
    print estimator, accuracy_randomforest

10 0.743016759777
50 0.748603351955
100 0.743016759777
500 0.759776536313
1000 0.759776536313

/Users/joohlee/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

# 7. Feature Engineering

In [38]:
datasets

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ticket_isalphabetic
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,True
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,False
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,False
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,False
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,False
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S,False
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S,False
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C,False
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S,True
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S,False
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,NaN,S,True
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,NaN,S,False
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S,False
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S,False
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,NaN,Q,False
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,False
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,NaN,S,False
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,False
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,NaN,S,False
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S,False
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q,False
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S,False
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,NaN,S,False
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S,False
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,False
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S,False
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,False
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,NaN,S,False
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S,False
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,True
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,NaN,S,False
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,NaN,S,False
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,NaN,C,True
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S,True
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,False
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,NaN,S,False
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,NaN,S,False
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S,False
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,B51 B53 B55,S,False
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,NaN,S,False
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,NaN,C,True
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,NaN,C,False
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,NaN,S,False
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,NaN,S,False
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,False
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C,False
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,NaN,S,False
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,NaN,S,False
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,NaN,S,False
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S,True
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S,True
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,NaN,Q,False
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,NaN,S,False
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S,False
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,True
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C,False
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,NaN,Q,False

In [30]:
datasets['ticket_isalphabetic']= datasets['Ticket'].str.contains('[a-zA-Z]')

In [32]:
datasets
train_data, test_data = train_test_split(datasets, test_size=0.2)

In [33]:
X = train_data['ticket_isalphabetic'].astype(str)
Y = train_data['Survived'].astype(str)    
dfObserved = pd.crosstab(Y,X) 
chi2, p, dof, expected = stats.chi2_contingency(dfObserved.values)
print feature, p

ticket_isalphabetic 0.78825654783

# 8. Create new Modeling with new features.

In [34]:
x_train_data2 = train_data[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked','ticket_isalphabetic']]
x_train_data2 = x_train_data2.drop('Sex', 1).join(x_train_data2['Sex'].str.get_dummies())
x_train_data2 = x_train_data2.drop('Embarked', 1).join(x_train_data2['Embarked'].str.get_dummies())

y_train_data2 = train_data[['Survived']]
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp = imp.fit(x_train_data2)
x_train_data2_imp = imp.transform(x_train_data2)

In [35]:
train_feature = x_train_data2_imp
train_target = y_train_data2
C= 1.0
svc = svm.SVC(kernel='linear', C=C).fit(train_feature, train_target)

In [37]:
x_test_data2 = test_data[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked','ticket_isalphabetic']]
x_test_data2 = x_test_data2.drop('Sex', 1).join(x_test_data2['Sex'].str.get_dummies())
x_test_data2 = x_test_data2.drop('Embarked', 1).join(x_test_data2['Embarked'].str.get_dummies())
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp = imp.fit(x_test_data2)
x_test_data2_imp = imp.transform(x_test_data2)
test_features = x_test_data2_imp
problem_pred_svm = svc.predict(test_features)
accuracy_svm = accuracy_score(test_data['Survived'],problem_pred_svm)
accuracy_svm

0.8044692737430168